* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #333;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-size: 32px;
	color: rgb(95, 38, 57)
}

.content {
	display: block;
	text-align: center;
	text-transform: uppercase;
}

#movie {
	letter-spacing: 5px;
}

#button {
	text-transform: uppercase;
	padding: 20px;
}

#a:hover {
	background-color:rgb(140, 88, 105)!important;
}